In [103]:
import pandas as pd
import numpy as np 

population = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/population.csv")
s_dot = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/s_dot2.csv", encoding= 'euc-kr')
weather_per_min = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/weather_per_min.csv")
weather_real_time = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/weather_real_time.csv")

## 관측소 링크
weatherID = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/META_관측지점정보_20211004124530.csv", encoding='euc-kr')

In [104]:
s_dot.head()

,기관 명,송신 서버 번호,데이터 번호,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),...,진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,48,1,SDOT001,V02Q1940947,1,9,9,20.9,88,...,0.06,1.02,0.06,0.12,1.09,NaN,8,10,2.020000e+11,07:57.0
1,서울시,48,1,SDOT001,V02Q1940946,1,6,6,20.7,89,...,0.12,0.98,0.13,0.17,1.09,NaN,10,10,2.020000e+11,07:57.0
2,서울시,48,1,SDOT001,V02Q1940948,1,5,5,21.7,88,...,0.08,1.03,0.06,0.14,1.10,NaN,7,9,2.020000e+11,07:57.0
3,서울시,48,1,SDOT001,V02Q1940949,1,5,5,20.7,88,...,0.02,1.05,0.05,0.13,1.14,NaN,8,9,2.020000e+11,07:57.0
4,서울시,48,1,SDOT001,V02Q1940950,1,6,6,21.2,86,...,0.11,0.96,0.06,0.17,1.04,NaN,7,9,2.020000e+11,07:57.0

In [105]:
s_dot.columns

Index(['기관 명', '송신 서버 번호', '데이터 번호', '모델명', '시리얼', '구분', '초미세먼지(㎍/㎥)',
       '미세먼지(㎍/㎥)', '기온(℃)', '상대습도( %)', '풍향(°)', '풍속(m/s)', '돌풍 풍향(°)',
       '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)', '진동_x(g)', '진동_y(g)',
       '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)', '진동_z 최대(g)', '흑구 운도(℃)',
       '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간', '등록일자'],
      dtype='object')

In [106]:
s_dot.drop(['기관 명', '송신 서버 번호', '데이터 번호', '모델명', '구분', '초미세먼지(㎍/㎥)',
       '미세먼지(㎍/㎥)', '기온(℃)', '상대습도( %)', '풍향(°)', '풍속(m/s)', '돌풍 풍향(°)',
       '돌풍 풍속(m/s)', '조도(lux)'], axis='columns', inplace=True)

In [107]:
s_dot.drop(['소음(dB)', '진동_x(g)', '진동_y(g)',
       '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)', '진동_z 최대(g)', '흑구 운도(℃)',
       '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간', ], axis='columns', inplace=True)

In [108]:

# 추가적인 칼럼 수정
s_dot.rename(columns = {'시리얼':'시리얼번호'}, inplace = True)

In [109]:
s_dot.head()

         시리얼번호  자외선(UVI)     등록일자
0  V02Q1940947       0.0  07:57.0
1  V02Q1940946       0.0  07:57.0
2  V02Q1940948       0.0  07:57.0
3  V02Q1940949       0.0  07:57.0
4  V02Q1940950       0.0  07:57.0

In [114]:
# 같은것 모음
s_dotgroup = s_dot.groupby('시리얼번호').sum()

In [115]:
s_dotgroup.head()

             자외선(UVI)
시리얼번호
OC3CL200011       1.3
OC3CL200012       0.0
OC3CL200013       0.0
OC3CL200014       1.3
OC3CL200016       0.0

In [116]:
s_dotgroup_big = s_dotgroup.sort_values(by = "자외선(UVI)",ascending = False)

In [117]:
s_dotgroup_big

             자외선(UVI)
시리얼번호
V02Q1940804      32.0
V02Q1940788      32.0
V02Q1940297      16.0
V02Q1940560      16.0
V02Q1940693      16.0
...               ...
V02Q1940179       0.0
V02Q1940180       0.0
V02Q1940181       0.0
V02Q1940182       0.0
V02Q1941015       0.0

[1094 rows x 1 columns]

In [118]:
s_dotgroup_big.head()

             자외선(UVI)
시리얼번호
V02Q1940804      32.0
V02Q1940788      32.0
V02Q1940297      16.0
V02Q1940560      16.0
V02Q1940693      16.0

In [119]:
# 추가데이터 불러와서 위치정보 로드하기
s_dot_location = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/bigcamdata/S-DoT-locationm.csv", encoding= 'euc-kr')

In [120]:
s_dot_location.head()

,시리얼번호,자치구,주소,위도,경도,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,V02Q1940059,강남구,서울특별시 강남구 일원동 688,37.489530,127.075346,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,V02Q1940293,강남구,서울특별시 강남구 개포동 1221-3,37.476401,127.048489,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V02Q1940060,강남구,서울특별시 강남구 일원동 735-1,37.483397,127.086234,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,비고
3,V02Q1940079,강남구,서울특별시 강남구 일원동 707,37.494102,127.082209,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,오존,방문자수,NaN
4,V02Q1940129,강남구,서울특별시 강남구 대치동 16-1,37.497656,127.074399,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
s_dot_location.columns

Index(['시리얼번호', '자치구', '주소', '위도', '경도', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [122]:
s_dot_location.drop(['Unnamed: 5','Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'], axis='columns', inplace=True)

In [123]:
s_dot_location.head()

         시리얼번호  자치구                    주소         위도          경도
0  V02Q1940059  강남구     서울특별시 강남구 일원동 688  37.489530  127.075346
1  V02Q1940293  강남구  서울특별시 강남구 개포동 1221-3  37.476401  127.048489
2  V02Q1940060  강남구   서울특별시 강남구 일원동 735-1  37.483397  127.086234
3  V02Q1940079  강남구     서울특별시 강남구 일원동 707  37.494102  127.082209
4  V02Q1940129  강남구    서울특별시 강남구 대치동 16-1  37.497656  127.074399

In [124]:
# 같은것 모음
s_dot_location_group = s_dot_location.groupby('시리얼번호').sum()

In [125]:
s_dot_location.head()

         시리얼번호  자치구                    주소         위도          경도
0  V02Q1940059  강남구     서울특별시 강남구 일원동 688  37.489530  127.075346
1  V02Q1940293  강남구  서울특별시 강남구 개포동 1221-3  37.476401  127.048489
2  V02Q1940060  강남구   서울특별시 강남구 일원동 735-1  37.483397  127.086234
3  V02Q1940079  강남구     서울특별시 강남구 일원동 707  37.494102  127.082209
4  V02Q1940129  강남구    서울특별시 강남구 대치동 16-1  37.497656  127.074399

In [138]:

# 수정후 s_dot_location와 merge
s_dot_complete = s_dotgroup_big.merge(s_dot_location,left_on='시리얼번호',right_on='시리얼번호')

In [139]:
s_dot_complete.head()

         시리얼번호  자외선(UVI)  자치구                     주소         위도          경도
0  V02Q1940804      32.0  양천구    서울특별시 양천구 신정동 653-6  37.515854  126.853952
1  V02Q1940788      32.0  송파구      서울특별시 송파구 잠실동 156  37.509548  127.074152
2  V02Q1940297      16.0  동작구   서울특별시 동작구 사당동 산 10-5  37.492956  126.975760
3  V02Q1940560      16.0  동작구      서울특별시 동작구 상도동 124  37.492477  126.956311
4  V02Q1940693      16.0  금천구  서울특별시 금천구 시흥동 1000-35  37.456068  126.900318

# 이제 전처리 다했으니 해보자

In [141]:
s_dot_complete_sort = s_dot_complete.sort_values(by = "자외선(UVI)",ascending = False)

In [142]:
s_dot_complete_sort.head()

         시리얼번호  자외선(UVI)  자치구                     주소         위도          경도
0  V02Q1940804      32.0  양천구    서울특별시 양천구 신정동 653-6  37.515854  126.853952
1  V02Q1940788      32.0  송파구      서울특별시 송파구 잠실동 156  37.509548  127.074152
2  V02Q1940297      16.0  동작구   서울특별시 동작구 사당동 산 10-5  37.492956  126.975760
3  V02Q1940560      16.0  동작구      서울특별시 동작구 상도동 124  37.492477  126.956311
4  V02Q1940693      16.0  금천구  서울특별시 금천구 시흥동 1000-35  37.456068  126.900318

In [145]:

!pip install pyproj
!pip install folium

Collecting pyproj
  Using cached pyproj-3.2.1-cp38-cp38-win_amd64.whl (6.2 MB)
Requirement already satisfied: certifi in c:\users\bora3\anaconda3\lib\site-packages (from pyproj) (2020.6.20)
Installing collected packages: pyproj
Successfully installed pyproj-3.2.1
Requirement already satisfied: folium in c:\users\bora3\anaconda3\lib\site-packages (0.12.1)
Requirement already satisfied: branca>=0.3.0 in c:\users\bora3\anaconda3\lib\site-packages (from folium) (0.4.2)
Requirement already satisfied: requests in c:\users\bora3\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\bora3\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in c:\users\bora3\anaconda3\lib\site-packages (from folium) (1.19.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bora3\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bora3\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\bora3\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bora3\anaconda3\lib\site-packages (from requests->folium) (1.25.11)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bora3\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)

In [161]:

import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib
matplotlib.rcParams['font.family'].insert(0, 'Malgun Gothic')
%matplotlib inline
import folium
from pyproj import Proj, transform
# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=vieo90&logNo=221320796491

In [162]:

map1 = folium.Map(location=[37.566535, 126.977969199999936], zoom_start=15)
# map1

In [164]:
# df['위경도'].head()
# folium으로 위경도 표시   
idx = 0
for i in s_dot_complete_sort.iterrows():
  if idx == 5:
    break
  folium.Marker([i[1]['위도'], i[1]['경도']]).add_to(map1)
  idx += 1
map1