In [28]:
import pandas as pd 
import numpy as np

path = 'dataFrame_4.csv'
df = pd.read_csv(path)
df.rename(columns = {'temp_rank':'기온 X 가중치'}, inplace = True)
df.rename(columns = {'uv_rank':'자외선 X 가중치'}, inplace = True)
df.rename(columns = {'lux_rank':'조도 X 가중치'}, inplace = True)
print(df.head())
df_sorted = df.sort_values(by='시리얼번호')
df_sorted = df_sorted.replace(0, np.nan)
df_sorted = df_sorted.dropna(axis=0)
df_sorted[['시리얼번호', '기온 X 가중치', '자외선 X 가중치', '조도 X 가중치']].head()

   Unnamed: 0        시리얼번호      기온(℃)       조도(lux)  자외선(UVI)   자치구  \
0          26  V02Q1940278  26.676351  14194.966216  0.591216   동작구
1          75  V02Q1940935  26.837500   7800.636905  0.301190    중구
2          68  V02Q1940186  26.682979   8198.723404  0.312766  영등포구
3          97  V02Q1940884  26.790476   7038.541667  0.266071   관악구
4         103  V02Q1940843  26.631548   6625.726190  0.253571   종로구

                              주소         위도          경도  idx  기온 X 가중치  \
0          서울특별시 동작구 노량진동 84-102  37.512401  126.942547   18   572.489
1  서울특별시 중구 덕수궁길 15 서울시청 서소문별관3동  37.564800  126.975981   62   580.203
2          서울특별시 영등포구 신길동 223-66  37.509147  126.910958   55   573.591
3           서울특별시 관악구 신림동 1439-3  37.487397  126.927124   81   577.999
4              서울특별시 종로구 재동 54-1  37.578937  126.985913   87   568.632

   자외선 X 가중치  조도 X 가중치   sum_val
0     251.52   222.376  1046.385
1     240.96   215.061  1036.224
2     242.64   216.733  1032.964
3     236.40   211.508  1025.907
4     234.96   208.373  1011.965

     idx        시리얼번호  기온 X 가중치  자외선 X 가중치  조도 X 가중치
994  846  OC3CL200060     9.918      52.56    47.234
673   11  OC3CL200061     7.714     253.20   217.360
461   19  OC3CL200062   171.912     251.28   188.936
704   21  OC3CL200063    33.611     250.80   169.499
720   13  OC3CL200064    47.386     252.72   137.313

In [23]:
def sort_temp_ILL_UV(filename):
    s_dot_loc = pd.read_csv('S-DoT-locationm.csv', encoding= 'euc-kr')
    df = pd.read_csv(filename, encoding='euc-kr')
    df.rename(columns = {'시리얼':'시리얼번호'}, inplace = True)
    df.drop(['기관 명', '송신 서버 번호','데이터 번호', '모델명', '구분', '초미세먼지(㎍/㎥)', '미세먼지(㎍/㎥)', '상대습도( %)', '풍향(°)', '풍속(m/s)', '돌풍 풍향(°)', 
               '돌풍 풍속(m/s)', '소음(dB)', '진동_x(g)', '진동_y(g)', '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)', '진동_z 최대(g)', '흑구 운도(℃)', '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간', '등록일자'], axis=1, inplace=True)
    df['조도(lux)'] = df['조도(lux)'].replace(np.nan, 0)
    df['자외선(UVI)'] = df['자외선(UVI)'].replace(np.nan, 0)
    s_dotgroup = df.groupby('시리얼번호').agg({
        '기온(℃)': 'mean',
        '조도(lux)': 'mean',
        '자외선(UVI)': 'mean'
        })
    s_dotgroup_big = s_dotgroup.sort_values(by ="자외선(UVI)",ascending = False)
    
    s_dot_loc.drop(['Unnamed: 5','Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'], axis='columns', inplace=True)
    
    # 같은것 모음
    s_dot_location_group = s_dot_loc.groupby('시리얼번호').sum()
    s_dot_complete = s_dotgroup_big.merge(s_dot_loc, left_on='시리얼번호',right_on='시리얼번호')

    return s_dot_complete

In [27]:
path2 = 'S-DoT_NATURE_2021.06.28-07.04.csv'
df2 = pd.read_csv(path2, encoding='euc-kr')
preprocessing = sort_temp_ILL_UV(path2)
sorted_df = preprocessing.sort_values(by='시리얼번호')
sorted_df = sorted_df.replace(0, np.nan)
sorted_df = sorted_df.dropna(axis=0)
sorted_df.head()

,시리얼번호,기온(℃),조도(lux),자외선(UVI),자치구,주소,위도,경도
867,OC3CL200060,23.192857,437.410714,0.001190,강동구,서울특별시 강동구 둔촌동 산 28-1,37.522210,127.145520
10,OC3CL200061,23.069643,8261.517857,1.392262,서울대공원,경기도 과천시 대공원광장로 102,37.424820,127.019676
27,OC3CL200062,25.188690,5453.517857,0.560714,강동구,서울특별시 강동구 천호동 463-38,37.541946,127.121588
29,OC3CL200063,24.029762,4775.642857,0.543452,도봉구,서울특별시 도봉구 방학동 264-44,37.661134,127.036395
12,OC3CL200064,24.291071,4029.136905,1.217262,양천구,서울특별시 양천구 목동 554,37.544410,126.870414

In [38]:
# sorted_df.drop(['자치구', '주소', '위도', '경도'], axis=1, inplace=True)
# sorted_df.head()

In [40]:
serial = sorted_df['시리얼번호'].values[:5]
temp = sorted_df['기온(℃)'].values[:5]
lux = sorted_df['조도(lux)'].values[:5]
uv = sorted_df['자외선(UVI)'].values[:5]

new_df = pd.DataFrame({
    '시리얼번호': serial,
    '기온': temp,
    '조도': lux,
    '자외선': uv
})
new_df.head()

         시리얼번호         기온           조도       자외선
0  OC3CL200060  23.192857   437.410714  0.001190
1  OC3CL200061  23.069643  8261.517857  1.392262
2  OC3CL200062  25.188690  5453.517857  0.560714
3  OC3CL200063  24.029762  4775.642857  0.543452
4  OC3CL200064  24.291071  4029.136905  1.217262

In [51]:
length = np.arange(1, 6)
temp_sort = new_df.sort_values(by=['기온'])
temp_sort['기온 순위'] = length

lux_sort = temp_sort.sort_values(by=['조도'])
lux_sort['조도 순위'] = length

uv_sort = lux_sort.sort_values(by=['자외선'])
uv_sort['자외선 순위'] = length

uv_sort['기온X가중치'] = uv_sort['기온 순위'] * 0.551
uv_sort['조도X가중치'] = uv_sort['조도 순위'] * 0.209
uv_sort['자외선X가중치'] = uv_sort['자외선 순위'] * 0.240
uv_sort['가중치 합'] = uv_sort['기온X가중치'] + uv_sort['조도X가중치'] + uv_sort['자외선X가중치']
sort_final = uv_sort.sort_values(by='가중치 합')
sort_final

,시리얼번호,기온,조도,자외선,기온 순위,조도 순위,자외선 순위,기온X가중치,조도X가중치,자외선X가중치,가중치 합
0,OC3CL200060,23.192857,437.410714,0.001190,2,1,1,1.102,0.209,0.24,1.551
3,OC3CL200063,24.029762,4775.642857,0.543452,3,3,2,1.653,0.627,0.48,2.760
1,OC3CL200061,23.069643,8261.517857,1.392262,1,5,5,0.551,1.045,1.20,2.796
4,OC3CL200064,24.291071,4029.136905,1.217262,4,2,4,2.204,0.418,0.96,3.582
2,OC3CL200062,25.188690,5453.517857,0.560714,5,4,3,2.755,0.836,0.72,4.311